{#
8-Bit Super Mario Bros. Quiz
Author: Peter Jungers
Date: March 2024
#}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Quiz for Super Mario Bros. games appearing on the Nintendo Entertainment System.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="data:;base64,iVBORwOKGO="/>  {# For Chrome favicon console error #}
    <!-- For iPhone message thumbnail -->
    <meta property="og:title" content="8-Bit Super Mario Bros. Quiz">
    <meta property="og:type" content="image.png">
{#    <meta property="og:url" content="https://peterjungers.pythonanywhere.com/smb_quiz">#}
    <meta property="og:image" content="{{ url_for('static', filename='images/bowser.png') }}">

    <title>8-Bit Super Mario Bros. Quiz</title>
</head>
<body>
    <div id="score-container-outer">
        <div id="score-container-inner">
            <p class="pixel-font">Score</p>
            <p id="score-counter-top" class="score pixel-font">000000</p>
        </div>
    </div>
    <div id="container">
        <h1 class="pixel-font text-center"><a href="{{ url_for('main.index') }}">8-Bit Super Mario Bros. Quiz</a></h1>
        {% block content %}{% endblock content %}
        <footer>
            <p><a href="{{ url_for('main.index') }}">8-Bit Super Mario Bros. Quiz</a></p>
            <p>Written and designed by <a href="https://peterjungers.github.io" target="_blank">Peter Jungers</a>, 2024</p>
            <p>Pixel art made with <a href="https://www.piskelapp.com" target="_blank">Piskel</a></p>
        </footer>
    </div>

    {% block js %}{% endblock js %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
