{% extends "base.html" %}


{% block content %}
    <img id="header-sprite" class="sprite" src="" alt="Pixel art">

    {% for q in quiz %}
        <div class="question">
            {# q[0] = Question number; q[1] = Question; q[2][0], q[2][1], q[2][2] = Shuffled answers; q[3] = level #}
            <p class="level-id">{{ q[3] }}</p>
            <p>
                <span>{{ q[0] }}. </span> {# Question number #}
                {{ q[1] }} {# Question #}
            </p>
            <div class="answer-options">
                <div class="option">
                    <button class="btn-circle btn-{{ q[0] }}">A</button>
                    <p>{{ q[2][0] }}</p> {# Shuffled answer #}
                </div>
                <div class="option">
                    <button class="btn-circle btn-{{ q[0] }}">B</button>
                    <p>{{ q[2][1] }}</p> {# Shuffled answer #}
                </div>
                <div class="option">
                    <button class="btn-circle btn-{{ q[0] }}">C</button>
                    <p>{{ q[2][2] }}</p> {# Shuffled answer #}
                </div>
                <p id="message-{{ q[0] }}"></p>
            </div>
            <img id="image-{{ q[0] }}" class="sprite" src="" alt="Pixel art">
        </div>
    {% endfor %}

{#    <div id="score-container">#}
{#        <img id= "score-sprite" src="{{ url_for('static', filename='images/bowser.png')}}" alt="Pixel art">#}
{#        <p id="calculating-score">Calculating your score<span id="dots"></span></p>#}
{#        <div id="score-results">#}
{#            <div id="score-circle"><p></p></div>#}
{#            <p id="score-message"></p>#}
{#        </div>#}
{#    </div>#}

    <p class="pixel-font text-center"><span id="score-counter-bottom">0</span>/3500</p>
    <p id = "message" class="pixel-font lg-text text-center p-32"></p>
    <a id="quiz-finished-btn" class="btn-rectangle margin-0" href="{{ url_for('main.quiz') }}">Reset Quiz</a>
{% endblock content %}


{% block js %}
    <script id="array">
        const array = {{ array|tojson }}
        {#const score = {{ score|tojson }}#}
    </script>
{% endblock js %}

